<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="UTF-8">

<title>www.swaparena.com</title>

<link rel="stylesheet" Type="text/css" href="/../resources/aboutstyle.css">


</head>


<body>


<header class= " banner ">

<h1> GameArena <img src="/../resources/vg.jpg" alt="vg" > </h1>

</header>

<% include partials/Menu.ejs %>


<% include partials/Home.ejs %>


<section>

<p> We are leading gameswap company in Charlotte, North Carolina. Game Arena is an established and original market place which helps you to exchange your games with other users.  You can trade, sell and deal with like-minded people both locally and nationwide.</p>

<p> <a href="contact"> Contact us </a> </p>

</section>


<% include partials/footer.ejs %>


</body>

</html>
