<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="UTF-8">

<title>www.swaparena.com</title>

<link rel="stylesheet" Type="text/css" href="/../resources/AssasinsCreed.css">

</head>

<body>

<header>

<h1> Assasins Creed
<br>
<img src="/../resources/ASC.jpg" alt="ASC">
<br>
<button>Swap it</button>
<button>Rate it</button>
<button>Buy</button>
</h1>
<p>	Assassin's Creed is an action-adventure stealth video game franchise created by Patrice Désilets, Jade Raymond and Corey May,
	developed and published by Ubisoft using the game engine Anvil Next.

</p>

</header>

</body>

</html>
