<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="UTF-8">

<title>www.swaparena.com</title>

<link rel="stylesheet" Type="text/css" href="/../resources/BikeRace.css">

<script>

document.createElement("nav");
document.createElement("header");
document.createElement("footer");
document.createElement("section");

</script>

</head>

<body>

<header>

<h1>Bike Race
<br>
<img src="/../resources/bike.jpg" alt="bike" >
<br>
<button>Swap it</button>
<button>Rate it</button>
<button>Buy</button>
</h1>

<p>
  The racing video game genre is the genre of video games, either in the first-person or third-person perspective,
    in which the player partakes in a racing competition with any type of land, water, air or space vehicles.
</p>
    
</header>

</body>

</html>
