<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="UTF-8">

<title>www.swaparena.com</title>

<link rel="stylesheet" type="text/css" href="/../resources/Cart.css">


</head>


<body>


<header class= " banner ">

<h1> GameArena     <img src="/../resources/vg.jpg" alt="vg"> </h1>

</header>


<% include partials/Menu.ejs %>

<% include partials/Home.ejs %>

<table>

<tr>
<th> ItemCode</th>
<th> ItemName </th>
<th> Category </th>
<th> Rating </th>
<th> ImageUrl </th>
<th> Activity </th>
</tr>

<tr>
<th> I001 </th>
<th> Prince of Persia </th>
<th> Action Adventure </th>
<th> **** </th>
<th> <a href="PrinceofPersia"> Prince Of Persia </a>  </th>
<th>  <button> <a href="Cart1"> Delete </a> </button>  </th>
</tr>

<tr>
<th> I002 </th>
<th> Contra </th>
<th> Action Adventure </th>
<th> **** </th>
<th> <a href="Contra"> Contra </a> </th>
<th>  <button> <a href="Cart2"> Delete </a> </button>  </th>
</tr>

<tr>
<th> I003 </th>
<th> Assasins Creed </th>
<th> Action Adventure </th>
<th> **** </th>
<th> <a href="AssasinsCreed"> Assasins Creed </a> </th>
<th><button > <a href="Cart3"> Delete </a> </button> </th>
</tr>

<tr>
<th> I004 </th>
<th> FifA </th>
<th> Sports </th>
<th> **** </th>
<th> <a href="Fifa"> FIFA </a> </th>
<th>  <button> <a href="Cart1"> Delete</a> </button>  </th>
</tr>

<tr>
<th> I005 </th>
<th> Bike Race </th>
<th> Sports </th>
<th> **** </th>
<th> <a href="BikeRace"> Bike Race </a> </th>
<th> <button> <a href="Cart2"> Delete </a> </button> </th>
</tr>





</table>

<<button > <a href="index"> SignOut </a> </button>

<% include partials/footer.ejs %>







</body>

</html>
