<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="UTF-8">

<title>www.swaparena.com</title>

<link rel="stylesheet" Type="text/css" href="/../resources/categoriesstyle.css">

<script>

document.createElement("nav");
document.createElement("header");
document.createElement("footer");
document.createElement("section");

</script>

</head>


<body>


<header class= " banner ">

<h1> GameArena     <img src="/../resources/vg.jpg" alt="vg"> </h1>

</header>


<% include partials/Menu.ejs %>

<% include partials/Info.ejs %>

<% include partials/gamecategories.ejs %>

<% include partials/footer.ejs %>


</body>

</html>
