<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="UTF-8">

<title>www.swaparena.com</title>

<link rel="stylesheet" Type="text/css" href="/../resources/Contra.css">

<script>

document.createElement("nav");
document.createElement("header");
document.createElement("footer");
document.createElement("section");

</script>

</head>

<body>

<header>

<h1> Contra
<br>
<img src="/../resources/Contra.jpg" alt="Contra">
<br>
<button>Swap it</button>
<button>Rate it</button>
<button>Buy</button>
</h1>

<p> Contra is a video game series produced by Konami composed primarily of run and gun-style shoot-'em-ups.
	 The series debuted in 1987 as a coin-operated arcade game simply titled Contra,
	which was followed by the release of Super Contra in 1988 and several sequels produced for various home platforms.

</p>

</header>

</body>

</html>
