<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="UTF-8">

<title>www.swaparena.com</title>

<link href="/../resources/itemsstyle.css" rel="stylesheet" Type="text/css" >



</head>


<body>


<header class= " banner ">

<h1> GameArena      <img src="/../resources/vg.jpg" alt="vg"> </h1>

</header>

<% include partials/Menu.ejs %>

<% include partials/Iteminfo.ejs %>



<% include partials/Home.ejs %>

<% include partials/footer.ejs %>



</body>

</html>
