<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="UTF-8">

<title>www.swaparena.com</title>

<link rel="stylesheet" Type="text/css" href="/../resources/POP.css">

<script>

document.createElement("nav");
document.createElement("header");
document.createElement("footer");
document.createElement("section");

</script>

</head>

<body>

<header>

<h1> Prince of Persia
<br><br>
<img src="/../resources/POP.jpg" alt="POP" >
<br>
<button>Swap it</button>
<button>Rate it</button>
<button>Buy</button>
</h1>

<p> Prince of Persia is a 1989 fantasy cinematic platformer originally developed and published by
Brøderbund and designed by Jordan Mechner for the Apple II. In the game, players control an unnamed
protagonist who must venture through a series of dungeons to defeat the Grand Vizier Jaffar and save an imprisoned princess.</p>

</header>

</body>

</html>
