<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="UTF-8">

<title>www.swaparena.com</title>

<link rel="stylesheet" Type="text/css" href="/../resources/SignIn.css">

<script>

document.createElement("nav");
document.createElement("header");
document.createElement("footer");
document.createElement("section");

</script>

</head>

<body>

<header class= " banner ">

<h1> GameArena <img src="/../resources/vg.jpg" alt="vg" >  </h1>

</header>


<% include partials/Menu.ejs %>












<p> <br> <br> <br> <br> <br> <br> <br> <br> Already Signed In ?? Please Login </p>

<p> <br> Username <br> <input type="text" name="Username"> </p>

<p> <br> Password <br> <input type="text" name="Password"> </p>

<p> <br> <Button> <a href="Cart"> Log in </a> </Button> </p>

<p> <br> Don't Have an account ?? <a href="Register"> Register </a> </p>





<% include partials/Home.ejs %>


<% include partials/footer.ejs %>


</body>
</html>
