<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="UTF-8">

<title>www.swaparena.com</title>

<link rel="stylesheet" Type="text/css" href="/../resources/storestyle.css">


</head>


<body>


<header class= " banner ">

<h1> GameArena <img src="/../resources/vg.jpg" alt="vg"> </h1>

</header>

<% include partials/Menu.ejs %>


<% include partials/storeinfo.ejs %>


<% include partials/footer.ejs %>


</body>

</html>
