<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="UTF-8">

<title>www.swaparena.com</title>

<link rel="stylesheet" Type="text/css" href="/../resources/myitemsstyle.css">

</head>


<body>


<header class = "banner">

<h1> GameArena     <img src="/../resources/vg.jpg" alt="vg">  </h1>

</header>

<% include partials/Menu.ejs %>

<% include partials/Home.ejs %>

<% include partials/gameinfo.ejs %>

<% include partials/footer.ejs %>

</body>

</html>
