<section class="gamecategories">

    <ul>

		<li> Action-Adventure

			<ul>

				<li> <a href="PrinceofPersia"> Prince of Persia </a>  </li>
	      <li> <a href="AssasinsCreed"> Assasins Creed </a></li>
        <li> <a href="Contra">  Contra </a></li>

			</ul>

		</li>

		<li> Sports

		<ul>

			<li><a href="Fifa">Fifa  </a></li>
			<li><a href="CarRace">Car Race  </a></li>
			<li><a href="BikeRace">Bike Race  </a> </li>

		</ul>

	</ul>


</section>
