<section class="gameinfo">

 <table>
	<tr>
	<th> My Games</th>
	<th> Category </th>
	<th> Rating </th>
  <th> Actions </th>
	</tr>

  <tr>
	<th> <a href="PrinceOfPersia"> Prince of Persia </a> </th>
	<th> Action-Adventure </th>
  <th> **** </th>
  <th> <button> <a href="AssasinsCreed"> Swap </a> </button>  <button> <a href="Cart"> Update </a> </button> <button> <a href="Cart"> Add </a> </button> </th>
  </tr>


  <tr>
  <th> <a href="AssasinsCreed"> Assasins Creed </a> </th>
  <th> Action-Adventure </th>
  <th> **** </th>
  <th> <button> <a href="Contra"> Swap </a> </button>  <button>  <a href="Cart"> Update </a> </button> <button> <a href="Cart"> Add </a> </button> </th>
  </tr>


  <tr>
	<th> <a href="Contra"> Contra </a> </th>
	<th> Action-Adventure </th>
  <th> **** </th>
  <th> <button> <a href="PrinceOfPersia"> Swap </a> </button>  <button> <a href="Cart"> Update </a> </button> <button> <a href="Cart"> Add </a> </button> </th>
  </tr>


  <tr>
	<th> <a href="BikeRace"> Bike Race </a></th>
	<th> Sports</th>
  <th> **** </th>
  <th> <button> <a href="Fifa"> Swap </a> </button> <button> <a href="Cart"> Update </a>  </button> <button> <a href="Cart"> Add </a> </button> </th>
  </tr>

  <tr>
	<th> <a href="Fifa"> FIFA </a> </th>
	<th> Sports </th>
  <th> **** </th>
  <th> <button> <a href="BikeRace"> Swap <a> </button> <button> <a href="Cart"> Update </a> </button> <button> <a href="Cart"> Add </a>  </button> </th>
  </tr>



 </table>

 <button > <a href="index"> SignOut </a> </button>


</section>
