<nav class="Menu">

<ul>

<li><a href="/SignIn">Sign In </a></li>

<li><a href="/MyGames">My Games </a></li>

<li><a href="/mySwaps">My Swaps </a></li>

<li><a href="/Cart">Cart </a></li>

</ul>

</nav>
