<nav class="Info">

<ul class="ul0">

<li><a href="index">Home</a></li>

<li><a href="categories">Categories</a></li>

<li><a href="store">Store</a></li>

	<ul class="ul1">

		<li> Action-Adventure

			<ul class="ul2">

				<li> <a href="PrinceofPersia">Prince of Persia</a></li>
				<li> <a href="AssasinsCreed">Assasins Creed </a></li>
				<li> <a href="Contra">Contra</a></li>

			</ul>

		</li>

		<li> Sports

		<ul class="ul3">

			<li><a href="Fifa">Fifa</a></li>
			<li><a href="CarRace">Car Race</a></li>
			<li><a href="BikeRace">Bike Race</a> </li>

	    </ul>

    </ul>



<li><a href="Contact">Contact</a></li>

</ul>

</nav>
