 @charset "UTF-8";



header, html, body, nav ,footer, p ,
{
	display:block;
	padding:10px;
	margin:5px;
	left-side:5px;

}


li
 {
	 display:block;
 }


.banner
{
	background-color: gray;
	color: white;
	padding:0px;
	font-size:23px;
	border:thick solid gold;
}

body
{

	width:1460px;
	background-color: black;
	font-family:Arial;
	font-size: 15px;
	margin-left:15px;
}

.Menu ul li
{
	float: left;
	width: 150px;
	height:25px;
	padding:10px;
	background-color: silver;
	list-style: none;
	margin-left:150px;
	margin-top:5px;
	margin-bottom:5px;
	font-size:17px;
	text-align:center;
	border:thick solid green;
}



.Info 
{

	background-color: yellow;
	background-size: 75px;
	padding:10px;
	margin-top:120px;
	margin-bottom:2px;
	border:thick solid red;
	font-size:20px;
	list-style: none;
}





footer
{

	background-color: gray;
	font-size: 15px;
	margin-top: 200px;
	margin-bottom:5px;
	padding:0px;
	border:thick solid orange;
}
